Package: MetaMover
Version: 1.0.0
Section: utils   
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.28), libstdc++6 (>= 9.3.0)
Maintainer: Blake Azuela <blake@azuela.info>
Description: MetaMover Application
